html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: white;
}

body{
  font-family: Roboto;
}

.tabs-layout{
  justify-content: space-between;
}

.region_action{
  right: 0;
  top: 0;
  height: 100%;
  position: absolute;

  button{
    height: 100%;
    color: white;
  }
}

.alice-carousel__stage-item{
  text-align: center;
}

.alice-carousel__next-btn-wrapper{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.alice-carousel__prev-btn-wrapper{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.alice-carousel__prev-btn span::after {
  content: "\00AB" !important;
}

.alice-carousel__next-btn span::after {
  content: "\00BB" !important;
}

.alice-carousel__dots{
 display: none;
}

